<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ready-Slayer-One</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Audiowide&family=Bangers&family=Black+Ops+One&family=Chakra+Petch:wght@300&family=Cinzel+Decorative&family=Eagle+Lake&family=Goldman&family=Grechen+Fuemen&family=Grenze+Gotisch:wght@100&family=Gruppo&family=Kings&family=Macondo&family=Metal+Mania&family=Metamorphous&family=Montserrat+Subrayada&family=Nova+Mono&family=Romanesco&family=Rubik+Glitch&family=Ruthie&family=Sarpanch&family=Six+Caps&family=Splash&family=Trade+Winds&family=UnifrakturCook:wght@700&family=Ysabeau+Infant:wght@500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around content">
    <header class="display-flex justify-space-around align-center p-2">
      <h1 class="logo">
        <a href="/">Ready-<span id="slay">Slay</span>er-One</a>
      </h1>
      <nav class="nav">
        {{#if logged_in}}
        {{!-- TODO: How to get user name where profile is --}}
        <a href="/profile" class="nav-link">Profile</a>
          <img
          class="mx-1"
          src="/img/user.svg"
          height="30"
          alt="user-icon"> |
        <button class="btn-styled" id="logout">Log Out</a></button>
        {{else}}
        <a href="/login" class="nav-link">Log In</a>
          <img
          class="mx-1"
          src="/img/user.svg"
          height="30"
          alt="user-icon">
        {{/if}}
      </nav>
    </header>
    <main class="main container container-fluid mt-5">
      {{{ body }}}
    </main>
    {{!-- TODO: Check this --}}
    {{!-- <footer>
    {{#if isGameRoute}} 
<ul class="display-inline">
  <li>
    {{ this.character.strength }}
  </li>
    <li>
    {{ this.character.agility }}
  </li>
    <li>
    {{ this.character.constitution }}
  </li>
    <li>
    {{ this.character.wisdom }}
  </li>
    <li>
    {{ this.character.intelligence }}
  </li>
    <li>
    {{ this.character.charisma }}
  </li>
</ul>
    {{/if}}
    </footer> --}}
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
