<div class="row chat-modal">
  <div class="col-md-12">
    <div id="loading-message" class="display-none">Initializing quest...</div>
    
    <section id="chat-section">
      {{!-- TODO: FIX: --}}
      {{!-- {{#each history}}
        <p class="{{role}} chat-message">
          <span class="{{role}}" id="role" ><b>{{role}}</b></span>
          <span>:</span>
          <span class="game-text">{{content}}</span>
        </p>
       <hr>
       {{/each}} --}}
    </section>

    <div id="typing-indicator" class="hide">
      <p><i>{{#if isTyping}}Typing{{/if}}</i></p>
    </div>

    <form id="chat-form" class="mt-4">
      <input
        class="form-input"
        type="text"
        id="message-input"
        name="message"
        value="{{message}}"
        placeholder="Type a message here and hit Enter..."
      />
    </form>
  </div>
</div>

<script src="/js/chat.js"></script>

