{{#each userOutcomes}}
  <div>
    <h4>{{this.name}}</h4>
    <p>{{this.description}}</p>
    <h5>Character:</h5>
    {{#if this.character}}
      <p>Name: {{this.character.name}}</p>
      <p>Avatar: {{this.character.avatar}}</p>
    {{else}}
      <p>No character available.</p>
    {{/if}}
  </div>
{{/each}}