{{!-- TODO Delete File? --}}

{{!-- < class="row modal"> --}}
    {{!-- {{ debug }} --}}
{{!-- FIX: Why is genre and character not showing up --}}
    {{!-- <p class="genre">Genre: {{ genre }} </p>
    <p class="character">Character: {{ character.name }}</p>

    <ul>
      {{#each scenarios}}
      <li>
        <h6>{{ name }}</h6>
        <p class="small">{{ description }}</p>
      </li>
    {{/each}}
    </ul> --}}

{{! </div> --}}